<div class="person-details" *ngIf="person">
  <div class="back-button">
    <button (click)="goBack()">Volver Atrás</button>
  </div>
  <h2>{{ person.name }}</h2>
  <img [src]="'assets/' + (person.image || 'noimagen.jpg')" alt="{{ person.name }}">
  <p><strong>Padre:</strong> {{ fatherName }}</p>
  <p><strong>Madre:</strong> {{ motherName }}</p>
  <p><strong>Cónyuge:</strong> {{ spouseName }}</p>
  <p><strong>Hijos:</strong> {{ childrenNames && childrenNames.length > 0 ? childrenNames.join(', ') : 'Null' }}</p>
  <div class="description">
    <h3><strong>Descripción:</strong></h3>
    <p>{{ person.description }}</p>
  </div>
</div>




  <!-- <img src="https://placehold.it/200x200"> -->